* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  background-color: #e3e3e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid #4c3021;
  padding: 16px;
  border-radius: 18px;
  max-width: 668px;
}

/* Wedding invitation image */
img {
  width: 100%;
  border-radius: 16px;
  transition: 0.3s;
}

img:hover {
  /* scale: 1.02; */
}

/* Horizon Line */
.hr-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

hr {
  width: 90%;
  height: 1px;
  background-color: #4c3021;
}

/* Map link */
.link a {
  font-family: "Tajawal", sans-serif;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.link a:hover {
  color: blue;
  text-decoration: underline;
}

/* Audio button */

section {
  position: fixed;
  bottom: 22px;
  right: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

#playPauseButton {
  padding: 20px 20px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c3022;
  position: relative;
  z-index: 999;
}

#playPauseIcon {
  font-size: 16px;
  color: #e3e3e1;
}

/*  */
.bg,
.button {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}


.bg {
  animation: pulse 1.2s ease infinite;
  background: #4c3022;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 99;
  border: none;
  background: #4c3022;
  background-size: 18px;
  cursor: pointer;
  outline: none;
}

.button a {
  position: absolute;
  color: #FFF;
  font-size: 17px;
}

@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}