* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 16px;
  background-color: #e3e3e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid #4c3021;
  padding: 16px;
  border-radius: 18px;
  max-width: 668px;
}

/* Wedding invitation image */
img {
  width: 100%;
  border-radius: 16px;
  transition: 0.3s;
}

img:hover {
  scale: 1.02;
}

/* Horizon Line */
.hr-box {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
}

hr {
  width: 90%;
  height: 1px;
  background-color: #4c3021;
}

/* Map link */
.link a {
  font-family: "Tajawal", sans-serif;
  color: #000;
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
}

.link a:hover {
  color: blue;
  text-decoration: underline;
}
